* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --drk-blue: hsl(249, 10%, 26%);
  --gry-blue: hsl(246, 25%, 77%);
}

body {
  background-image: url('/images/bg-intro-mobile.png');
  background-color: var(--red);
  color: white;
}

section {
  margin: 6rem 2rem 0;
  display: flex;
  flex-direction: column;
}

.description {
  text-align: center;
}

.description_paragraph {
  margin-top: 1rem;
}

.interaction {
  padding: 4rem 0;
}

.tryit {
  text-decoration: none;
  color: white;
}

.interaction__button {
  background-color: var(--blue);
  padding: 1rem 5rem;
  text-align: center;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.1);
}

.interaction__button span {
  font-weight: 700;
}

.interaction__form {
  background-color: white;
  padding: 1.6rem;
  border-radius: 10px;
  margin-top: 1.5rem;
  box-shadow: 0px 7px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.input__container {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid lightgray;
  position: relative;
}

.input__container input {
  width: 100%;
  padding: 1rem;
  border: none;
  background: transparent;
}

.input__error {
  border: 2px solid var(--red);
  color: var(--red);
  font-weight: 500;
}

.error-icon {
  visibility: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

.error__message {
  position: absolute;
  color: var(--red);
  font-size: 0.5rem;
  font-style: italic;
  font-weight: 600;
  bottom: -30%;
  right: 0%;
}

form input::placeholder {
  font-weight: 600;
}

form button {
  background-color: var(--green);
  padding: 1em;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 0px hsl(154, 58%, 46%);
}

form button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.terms {
  color: var(--gry-blue);
  text-align: center;
  font-size: 0.7rem;
  margin: 1em;
}

.terms span {
  color: var(--red);
  font-weight: 700;
}

@media (min-width: 1000px) {
  body {
    height: 100vh;
  }

  section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10vw;
    height: 100vh;
  }

  .description {
    text-align: left;
    width: 100%;
  }

  .description__title {
    font-size: 2rem;
    line-height: 1.2;
  }

  .interaction {
    width: 100%;
    margin-left: 5vw;
    padding: 0;
  }

  .interaction__button {
    font-size: 1rem;
  }

  .interaction__form {
    margin: 1.5rem 0;
    padding: 2.5rem;
  }

  .input__container {
    margin-bottom: 2.5rem;
  }

  .error__message {
    font-size: 0.8rem;
    bottom: -50%;
  }

  form button {
    font-size: 1.2em;
  }

  .terms {
    margin: 1.5em 1em;
  }
}
